$primary: ghostwhite;
$doctorsBlue: #3496da;
$green: #3cb89c;
$pink: #e83e8c;
$cyan: #17a2b8;
$teal: teal;
$realTeal: #20c997;

// buttons
$btn-primary: #17a2b8;
$btn-secondary: teal;
$btn-tertiary: #e83e8c;
$btn-hover: #14707e;
//  font-weights/sizes
$large: 1.8em;
$medium: 1.5em;
$small: 1.2em;
